@font-face {
  font-family: 'RalewayLight';
  src: url(../font/RalewayLight.ttf);
}

* {
  font-family: RalewayLight;
}

.container{
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding: 10% 10% 0 10%;
  row-gap: 15%;
}

.introContainer{
  display: grid;
  grid-template-rows: auto auto auto;
}

.email{
  text-decoration: underline;
  color: black;
}

.email:hover{
  background-color: #39FF14;
  color: whitesmoke;
}

.showcaseContainer{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row-gap: 5%;
}

.showcaseContainer h2{
  padding-left: 2%;
}

.subjectHeader{
  width: fit-content;
  padding: 0;
}

.project1{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5%;
  grid-row: 2;
  grid-column: 1/4;
  background-color: gray;
}

#project1Video{
  grid-row: 2;
  grid-column: 1;
}

.project1 p{
  grid-row: 2;
  grid-column: 2;
  padding-top: 15%;
  margin: 0;
}

.project2{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5%;
  grid-row: 3;
  grid-column: 1/4;
  background-color: gray;
}

#project2Video{
  grid-row: 2;
  grid-column: 1;
}

.project2 p{
  grid-row: 2;
  grid-column: 2;
  padding-top: 15%;
  margin: 0;
}

.project3{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5%;
  grid-row: 4;
  grid-column: 1/4;
  background-color: gray;
}

#project3Video{
  grid-row: 2;
  grid-column: 1;
}

.project3 p{
  grid-row: 2;
  grid-column: 2;
  padding-top: 15%;
  margin: 0;
}

.aboutMe{
  grid-row: 3;
}

.outroContainer{
  grid-row: 4;
}

.outroContainer h3{
  font-style: italic;
}